#login-main{
	width: 1215px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}

#denglu-denglu{
	height: 600px;
	width: 1215px;
	margin: 0 auto;
	position: relative;
	
}

#denglu-denglu img{
	width: 36%;
	height: 80%;
	position: absolute;
	margin-left: 178px;
	margin-top: 27px;
}


#login{
	height: 480px;
	width: 360px;
	background-color: white;
	position: absolute;
	right: 15px;
	top: 58px;
	border: 1px solid #e6e6e6;
	box-shadow: 1px 1px 8px black;
}

#login p{
	margin-bottom: 10px;
	
}

#login p input{
	width: 283px;
	height: 35px;
	outline: none;
}

input[type='button']{
	width: 287px;
	height: 46px;
	margin-left: 40px;
	background-color: #0092d8;
	border: 0;
	cursor: pointer;
}

.login-nav{
	margin-left: 40px;
}

.login-nav a,.login-nav{
	color: #c2a5b2;
	font-size: 15px;
	text-decoration: none;
}


#denglu-show{
	width: 200px;
	margin: 0 auto;
	color: red;
}


.login-input{
	border:1px solid #A3A3A3 ;
	border-radius: 5px;
}
