body{
	background-color: #f4f4f4;
}

#qyzz-header{
	width: 1215px;
	margin: 0 auto;

	/*background-color: red;*/
}

.qyzz a,.qyzz{
	color: #666666;
	text-decoration: none;
	font-size: 13px;
	
}

.qyzz a:hover{
	color: #19cafd;
}

#qyzz-neiron{
	height: 1500px;
	width: 1115px;
	margin: 0 auto;
	position: relative;
	
}

#qyzz-left{
	width: 200px;
	
	background-color: white;
}


#qyzz-left h4{
	text-align: center;
	font-size: 15px;
	cursor: pointer;
}


#qyzz-left ul{
	margin-left: 50px;
	display: none;
	
}

#qyzz-left ul li{
	margin-bottom: 10px;
	cursor: pointer;
	list-style-type: none;
	
}

#qyzz-left ul li a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}

#qyzz-left ul li a:hover{
	color: #0092d8;
}


#qyzz-right{
	width: 890px;
	height: 1000px;
	float: right;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}
