#UserExit-body{
	width: 1215px;
	margin: 0 auto;
	padding: 15px 20px;
	
}


.UserExit-body{
	padding: 5px 20px;
	width: 1215px;
	margin: 0 auto;
	/*background-color: red;*/
}

.UserExit-body-left{
	float: left;
	font-size: 14px;
	width: 140px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
}

.UserExit-body-left ul li{
	text-align: center;
	margin-top: 10px;
}

.UserExit-body-left ul li a{
	text-decoration: none;
	color: #473d3d;
}



.UserExit-body-right{
	height: 590px;
	width: 1010px;
	margin-left: 180px;
	border: 1px solid #e1d2d2;
	margin-top: 70px;
	overflow: hidden;
	
}

.UserSetting{
	/*display: none;*/
}

.UserSetting table{
	margin: 0 auto;
}

.eas{
	width: 100px;
	height: 80px;
	text-align: right;
	font-size: 15px;
	color: #685959;
}

.eas1 input{
	width: 400px;
	height: 40px;
	margin-left: 40px;
	outline: none;
	border-radius:5px ;
	border: 1px solid #C8C8C8;
}

.userSubmit{
	width: 100px;
	height: 50px;
	margin-left: 374px;
	background-color: #f60;
	border: 1px solid #f60 ;
	border-radius: 4px;
	
}

.UserAddr{
	padding: 0 65px;
	width: 900px;
	display: none;
	
}

/*//阴影*/
#buyList-cap{
		width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        opacity: 0.6;
        margin: auto;
        z-index: 1;
        display: none;
}


#buyList-head{
	width: 1215px;
	margin: 0 auto;
	margin-top: 30px;
}

.buyList-head{
	font-weight: normal;
	font-size: 25px;
	width: 300px;
}

.buyList-head1{
	font-size: 12px;
	color: #CCCCCC;
	
}

#buyList-addrs{
	width: 827px;
	margin: 0 auto;
	margin-top:10px;
	overflow: hidden;
	
}
/*#buyList-addrs::after{
	content: '';
	display: block;
	clear: both;
}*/

.buyList-addrs{
	width: 827px;
	margin: 0 auto;	
	list-style-type: none;
	overflow: hidden;
	
}


.buyList-addrs li{
	position: relative;
    width: 256.25px;
    height: 100px;
    margin-top: 15px;
    margin-right: 15px;
    /*border: 2px solid #19CAFD;*/
   	border: 2px solid white;
    float: left;
 	
   
}

.buyList-addr-head{
	padding: 20px 20px;
	font-size: 14px;
	color: #222222;
}

.buyList-addr-footer{
	font-size: 12px;
	position: absolute;
	left: 0;
	bottom: 2px;
	display: none;
}

.buyList-addr-footer a{
	text-decoration: none;
	margin-left: 18px;
	
	color: #19CAFD;
}


.buyList-addr-body{
	font-size: 12px;
	color: #404040;
	margin-left: 20px;
}

.buyList-addr{
	font-size: 14px;
	color: #CCCCCC;
	cursor: pointer;
	background-color: white;
}

.buyList-addr-add{
	margin-top: 25px;
}


.buyList-addr-add img{
	margin-left: 115px;
}


#buyList-main{
	width: 1215px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}

.buyList-main-head{
	position: relative;
}

.buyList-main-head h2{
	font-weight: normal;
	font-size: 25px;
}

.buyList-main-body{
	width: 1215px;
	margin: 0 auto;
	margin-top: 15px;
	
}
.buyList-main-body-head{
	padding: 10px 20px;
	height: 20px;
	border: 1px solid #e9e9e9;
	background-color: #E9E9E9;
	
}

.buyList-1{
	width: 369px;
	color: #333;
	float: left;
	font-weight: bold;
}


.buyList-2{
	width: 140px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
  	font-weight: bold;
}

.buyList-3{
	width: 140px;
	font-size: 12px;
    color: #999;
 	line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-4{
	width: 100px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-5{
	width: 140px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-6{
	width: 159px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-7{
	width: 100px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: right;
    font-weight: bold;
}

/*//弹出框*/

.buyList-addAddr{
	 display: none;
    -webkit-transition: all .1s linear;
    z-index: -2;
   	z-index: 4;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -205px;
    background: #fff;
    width: 800px;
    height: 410px;
    padding: 20px;
    min-height: 410px;
    color: #666;
    
}

.buyList-addAddr-header{
	margin-left: 30px;
}

.buyList-addAddr-header h3{
	display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    /*font-weight: normal;*/
    color: #666;
    font: 18px/1.5 'Lucida Grande', Arial, '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53';
	position: relative;
}


.buyList-addAddr-body{
	padding: 20px 0;
}

.buyList-addAddr-body table{
	width: 80%;
	margin: -25px 0 20px;
	margin-left: 80px;
	 color: #666;
    font: 16px/1.5 'Lucida Grande', Arial, '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53';
}

.buyList-addAddr-body table th{
	width: 20%;
	padding: 5px 0;
	font-size: 15px;
	font-weight: normal;
	
	
}

.buyList-addAddr-body table td{
	
	padding: 5px 0;
	
}

.buyList-addAddr-body table td select{
	height: 45px;
	width: 124px;
	margin-left: 15px;
	 color: #666;
    font: 16px/1.5 'Lucida Grande', Arial, '\5FAE\8F6F\96C5\9ED1', '\5b8b\4f53';
}

.addr-textarea{
	height: 75px;
    line-height: 1.6;
    padding: 10px;
    font-size: 12px;
    margin-bottom: -4px;
    resize: none;
    border: 1px solid #c8c8c8;
    outline: none;
    vertical-align: baseline;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px;
     width: 80%;
     margin-left: 15px;
}

.buyList-addAddr-body table .info{
	border: 1px solid #c8c8c8;
    padding: 0 10px;
    line-height: 38px;
    height: 38px;
    width: 77%;
    margin-left: 15px;
}


.buyList-addAddr-body table i{
	color: red;
}

.buyList-addAddr-header-close{
	position: absolute;
	right: 20px;
	top: 15px;
	cursor: pointer;
}

.buyList-addAddr-box{
	height: 45px;
	margin-left: 240px;
	margin-bottom: 30px;
}

.buyList-addAddr-box-all{
	width: 125px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #c8c8c8;
    text-align: center;
    letter-spacing: 5px;
    margin-right: 20px;
    cursor: pointer;
    float: left;
    margin-right: 30px;
    font-size: 13px;
}

.buyList-addAddr-box-left{
	background: #0093d5;
    color: #fff;
    border-color: #0093d5;
}

.buyList-addAddr-box-right{
	
}

/*订单详情*/

.UserList{
	overflow: hidden;
}


.UserList-head{
	
	background-color: #f2eded;
}


.UserList-head ul{
	overflow: hidden;
	padding: 20px 3px;
	
	
}


.UserList-head ul li{
	color: #706d6d;
	float: left;
	width: 200px;
	text-align: center;
}
.UserListSeach{
	padding: 10px 5px;
	overflow: hidden;
	background-color: #e6ecea;
	margin-top: 4px;
}

.UserListSeach1 input{
	height: 30px;
	width: 250px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}

.aaab{
	float: left;
}


.Admin-userList{
	margin-top: 5px;
}

.Admin-userList-head{
	background-color: #f6fff0;
	overflow: hidden;
	padding: 10px 0;
}

.buyList-1{
	width: 80px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
	 margin-left: 50px;
	float: left;
	text-align: center;
	font-weight: bold;
}


.buyList-2{
	width: 140px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-3{
	width: 95px;
	font-size: 12px;
    color: #999;
 	line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-4{
	width: 100px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}



.buyList-6{
	width: 125px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-7{
	width: 100px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-8{
	width: 95px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.buyList-9{
	width: 200px;
	font-size: 12px;
    color: #999;
    line-height: 18px;
    float: left;
    text-align: center;
    font-weight: bold;
}

.Admin-userList{
	/*display: none;*/
}

.buyList-item{
	font-size: 12px;
	color: #333;
	padding: 20px 0;
	background-color: white;
	border-bottom: 1px solid #e9e9e9;;
	overflow: hidden;
	margin-top: 5px;
	
}

.buyList1-1{
	width: 150px;
	
	color: #333;
	float: left;
	font-size: 12px;
	overflow: hidden;
}

.buyList1-11{
	margin-left:76px ;
	margin-top: 0px;
}

.buyList1-12{
	margin-left:76px ;
	
}

.buyList1-1 img{
	float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #e9e9e9;
}



.buyList1-2{
	width: 110px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-3{
	width: 115px;
	font-size: 12px;
    color: #333;
 	line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-4{
	width: 78px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-5{
	width: 140px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-6{
	width: 159px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-7{
	width: 60px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-8{
	width: 130px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}

.buyList1-9{
	width: 200px;
	font-size: 12px;
    color: #333;
    line-height: 18px;
    float: left;
    text-align: center;
}



.car-num11{
	width: 150px;
}


.buyList1-61{
	border: 0;
}

.buyList1-61 option{
	border: 0;
}

.buyList1-6 p{
	color: #AAAAAA;
}

.buyList1-7 span{
	color: #FF6600;
}



.UserLi{
	cursor: pointer;
}

.Admin-UserLists{
	display: none;
}
